*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Red Hat Display', sans-serif;
   background-color: hsl(225, 100%, 94%);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}
img{
    max-width: 100%;
   
}
buttons{
    font-family: inherit;
}
.bg_image{
background: url(images/pattern-background-desktop.svg) no-repeat center/cover;
height: 500px;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -1;
}
.container{
    background-color: #fff;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
    width: 400px;
}
.container img.hero{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.annual-plan{
    margin: 30px auto;
    padding: 10px;
    width: 90%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .annual-plan article img{
    margin-right: 20px;
}
.container h1{
    color: hsl(223, 47%, 23%);
    margin: 25px;
    font-size: 32px;
}
.container p{
    font-size: 16px;
    line-height: 1.6;
    color: hsl(224, 23%, 55%);
}
.btn{
   border: none;
   padding: 5px 10px;
   border-radius: 10px;
   font-weight: bold;
   font-size: small;
   cursor: pointer;
   transition: all ease-in-out;
   
}
.btn-change{
    background-color: transparent;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    
}
.btn-primary{
    background-color:  hsl(245, 75%, 52%);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 40px;

}
.btn-primary:hover, .btn-change{
    opacity: 0.8;
}
.btn-secondary{
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    border: none;
    font-size: small;
    margin-left: 40px;
}
.btn-secondary:hover{
    color: hsl(223, 47%, 23%);
}
.container .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
@media  (max-width: 768px) {
    .bg_image{
        background: url(images/pattern-background-desktop.svg) no-repeat center/cover;
        height: 400px;
    }
    .container{
        width: 100%;
    }
    .annual-plan{
        display: flex;
        flex-direction: column;
    }
}
